
<div *ngIf="announcements.length > 0" class="job-announcement-container">
    <h2 class="job-announcement-heading">Job Announcements</h2>
    <div class="job-announcement-list">
      <div class="add-announcement-container">
        <h2 class="add-announcement-heading">Get Announcement</h2>
        <div class="add-announcement-form">
          <label for="announcmentid">ID:</label>
          <input type="text" [(ngModel)]="id" [min]="minId" [max]="maxId">
          <button type="button" class="add-announcement-button" (click)="getbyid()">Submit</button>  
          <div *ngIf="minId !== 0 || maxId !== 0" class="id-range">
            Діапазон допустимих значень ID: {{ minId }} - {{ maxId }}
          </div>
          
          <div *ngIf="showWarning" class="warning">
            Введений ID некоректний. Спробуйте ще раз.
            <button (click)="dismissWarning()">Закрити</button>
          </div>
        </div>
      </div>
      <div *ngFor="let announcement of announcements" class="job-announcement-item">
        <div class="job-announcement-title">{{ announcement.title }}</div>
        <div class="job-announcement-description">{{ announcement.description }}</div>
        <div class="job-announcement-buttons">
          <button type ="button" class="job-announcement-button-delete"(click)="deleteAnnouncements(announcement.id)">Delete</button>
          <button type="button" class="job-announcement-button-update" (click)="updateAnnouncement(announcement)">Update</button>
          
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedAnnouncement" class="edit-announcement-container">
    <h2>Edit Announcement</h2>
    <div class="edit-announcement-form">
      <div class="form-group">
        <label for="editTitle">Title:</label>
        <input type="text" id="editTitle" [(ngModel)]="editedAnnouncement.title">
      </div>
      <div class="form-group">
        <label for="editDescription">Description:</label>
        <textarea id="editDescription" [(ngModel)]="editedAnnouncement.description"></textarea>
    
      </div>
      <div class="form-group">
        <button type="button" class="edit-announcement-button-save" (click)="saveAnnouncement()">Save</button>
        
        <button type="button" class="edit-announcement-button-cancel" (click)="cancelEdit()">Cancel</button>
      </div>
    </div>
  </div>
  <div *ngIf="showSuccessMessage" class="success-message">
    Announcement updated successfully!
  </div>