.job-announcement-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.job-announcement-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.add-announcement-container {
  margin-bottom: 20px;
}

.add-announcement-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

.add-announcement-form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.add-announcement-form label {
  font-size: 16px;
  margin-right: 10px;
}

.add-announcement-form input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #222;
  color: #fff;
}

.add-announcement-button {
  padding: 8px 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.add-announcement-button:hover {
  background-color: #22863a;
}

.id-range {
  font-size: 16px;
  margin-top: 10px;
  color: #6f42c1;
}

.warning {
  font-size: 16px;
  color: #dc3545;
  margin-top: 10px;
  margin-left: 10px;
}

.job-announcement-list {
  display: flex;
  flex-wrap: wrap;
}

.job-announcement-item {
  width: 100%;
  background-color: #555;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #777;
  border-radius: 6px;
  transition: box-shadow 0.3s ease;
}

.job-announcement-item:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.job-announcement-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.job-announcement-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.job-announcement-buttons {
  display: flex;
}

.job-announcement-button-delete {
  padding: 5px 10px;
  background-color: #d73a49;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.job-announcement-button-delete:hover {
  background-color: #a82d3b;
}
.edit-announcement-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 6px;
  z-index: 9999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.edit-announcement-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.edit-announcement-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-announcement-form .form-group {
  margin-bottom: 20px;
}

.edit-announcement-form label {
  font-size: 16px;
  margin-right: 10px;
}

.edit-announcement-form input[type="text"],
.edit-announcement-form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
}

.edit-announcement-button-save,
.edit-announcement-button-cancel {
  padding: 8px 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.edit-announcement-button-save:hover,
.edit-announcement-button-cancel:hover {
  background-color: #22863a;
}
